
.background-hotel{
  padding-top: 55px;
  width: 100vw;
  height: 60vh;
  background-image: url("/assets/Paris\,\ Eiffel\ Tower.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 20% 20% 20% 20%;
}

.hotel-content1{
  margin-left: 10%;
  text-decoration-line: underline;
  color: white;
  font-size: 32px;
  font-style: italic;
  
}



.hotel-content3{
  /* position: absolute; */
  /* width: 500px;
  height: auto;
  float: left;
  margin-left: 25px;
  top: 30%;
  color:white ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
}




.hotel-content4{
  /* position: absolute; */
  color:white ;
  margin-top: 50px;
  margin-left: 50px;
}

.hotel-content4 input{
  width: 150px;
}



.cards{
  width: 90%;
  height: 100px;
  margin: 0 auto;
  margin-top: 1%;
  background-color: white;
  display: flex;
}

.cards img{
  height: inherit;
  width: auto;
  margin: 0px;
  float: left;
}

.hotel-info{
  display: grid;
  grid-template-columns: 2,1fr ;
  float: none;
  width: 75%;
}

.hotel-name{
  font-size: 16px;
}

.hotel-address{
  font-size: 12px;
}

.hotel-stars{
  font-size: 30px;
  color: rgb(255, 172, 46);
}

.hotel-selection{
  display: flex;
  align-items: center;
  margin-right: 0;
  width: auto;
}

.hotel-submit{
  border-radius: 5px 5px 5px 5px;
  color: black;
  outline: none;
  background-color: yellow;
  border: 1px solid black;
}
.hotel-submit:hover{
  background-color: orange;
}

body{
  background-color: silver;
}
.hotel-content2{
  display: grid;
  grid-template-columns: repeat(2,50%);
  color:white ;
  margin-left: 50px;
  
}
.hotel-content{
  display: grid;
  grid-template-columns: repeat(2,50%);
  width: 100%;
  justify-content: center;
}
.hotel-container{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  color: white;
  justify-content: center;
}
.destination-container{
  
  color: white;
  justify-content: left;
  margin-left: 15vw;
  
}

.submit-hotel{
  color: black;
  background-color: yellow;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid black;
  outline: none;
}
.submit-hotel:hover{
  background-color: orange;
}
#check-in{
  width: 20vw;
}
#check-out{
  width: 20vw;
}
#rooms{
  width: 20vw;
}
#guests{
  width: 20vw;
}
#search{
  width: 20vw;
}
@media(max-width: 780px)
{
  #check-in{
    width: 30vw;
  }
  #check-out{
    width: 30vw;
  }
  #rooms{
    width: 30vw;
  }
  #guests{
    width: 30vw;
  }
  #search{
    width: 30vw;
  }
  .destination-container{
    margin-left: 10vw;
  }
  .hotel-address{
    font-size: 8px;
  }
}