body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  
}
.menu{
  margin-left: 450px;
}
.sub-menu-items>input{
  height: 25px;
  width: 100%;
}
.main-text{
  text-align: center;
  font-size: 30px;
}
.trip-seek-image{
  background-image: url(/template.jpg);
  margin: 0 auto;
  margin-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 500px;
  width: 100%;
}
/* Slideshow container */
/* .slideshow-container {
  width: 100%;
  text-align: center;
} */

/* .slider{
  background-image: url(/img1.jpg);
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  animation: slide 12s infinite;
  
} */

.slider{
  width: 100vw;
  height: calc(100vw * 0.5);
  overflow: hidden;
}

.slides{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.slide{
  float: left;
  width: 100%;
  height: 100%;
}
.slide>img{
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200vh;
  height: 60vw;
}
.subscribe-container{
  text-align: center;
}
.subscribe-text{
  font-weight: 550;
  font-size: 24px;
}





@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

@media screen and (max-width: 500px){
  /* .slideshow-container{
    
    margin: 0 auto;
    
  }
  */
 
  /* @keyframes slide{
    33%{ background: url(/img2.jpg);
     width: 100%;
     
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     }
    66%{ background: url(/img3.jpg);
     
      width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     }
    100%{ background: url(/img1.jpg);
     
      width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     }
   }
    */
  

}








header{
  display: flex;
  position: fixed;
  padding: 0 100px;
  background: #ffffff;
  margin-left: 0;
  width: 100%;
  box-shadow: 5px 5px black;
  box-sizing: border-box;
 
}
.logo-container{
  display: flex;
  padding: 0; 
  
}
.logo{
  color: #000;
  height: 50px;
  font-size: 18px;
  background-image: url(/assets/Logo.png);
  background-size: cover;
  width: 50px;
  font-weight: bold;
}
header .logo-txt{
  margin-left: 15px;
  font-style: italic;
  font-weight: 550;
  font-size: 14px;
  width: 250px;
  
}

header nav{
  float: right;
}
header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li{
  list-style: none;
  position: relative;
}
header nav ul li ul
{
  position: absolute;
  left: 0;
 
  background: #fff;
  border: 1px solid black;
  display: none;
}

header nav ul li.active ul
{
  display: block;
} 
header nav ul li ul li
{
  display: block;
  width: 200px;
 
}

header nav ul li a{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #000;
  text-decoration: none;
  display: block;
}
header nav ul li a:hover
{
  color: #000;
  background: #979797;
}
.toggle-container{
  display: none;
  width: 100%;
  justify-content: center;
  
}
.menu-toggle
{
  color: rgb(0, 0, 0);
  line-height: 50px;
  
  cursor: pointer;
  font-size: 24px;
}
main{
  height: 100%;
}
.main-content{
  text-align: center;
}
.service-container{
  display: grid;
  grid-template-columns: 50% 50%;  
  grid-template-rows: 50% 50%;
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
}
.service-1{
  
  background: url(/airplane.jpg);
  background-size: cover;
  height: 250px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.service-2{
  height: 250px;
  background: url(/hotel.jpg);
  background-size: cover;

  
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.seeker-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  grid-auto-columns: minmax(100px, auto);
}
.seeker{
  background: url(/generic-family-holidays-85255-ws.jpg);
  background-color: #000;
  background-size: cover;
  align-self: center; 
  
  height: 200px;
  
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media(max-width: 330px)
{
  .menu{
    margin-left: 0;
    
  }
  .menu-toggle{
    margin-right: 400px;
    
  }
  
  
}

@media(max-width: 780px)
{
  .menu{
    margin-left: 0;
    
  }
  header{
    padding: 0;
  }
  
}

@media (max-width: 740px)
{
  header{
    padding: 0;
     
   }
   .logo-main-container{
     justify-content: center;
     
   }
   .form-container{
     margin-left: 10px;
   }
   .center-text{
     justify-content: center;
   }
   .logo-main{
     width: 10vh;
     height: 10vh;
   }
   .toggle-container{
     display: flex;
     
   }
   .menu{
     margin-left: 0;
   }
   header nav{
     position: absolute;
     width: 100%;
     height: 100vh;
     background: #333;
    
     top:50px;
     left: -100%;
     transition: 0.5s ease;
   }
   header nav.active{
     left: 0;
     position: absolute;
     width: 100%;
     height: 100vh;
     background: #333;
     
     top:50px;
     transition: 0.5s ease;
   }
 
   header nav ul{
     display: block;
     text-align: center;
   }
   header nav ul li a{
     border-bottom: 1px solid rgb(0,0,0);
   }
   header nav ul li.active ul{
     position: relative;
     background: rgb(196, 196, 196);
     transition: 0.5s ease;
   }
   header nav ul li ul li{
     width: 100%;
   }
   .seeker{
     height: 100px;
   }
   .contact-container{
     font-size: 10px;
   }
  
}
@media(min-width: 768px) and (max-width: 1023px)
{
  .menu{
    margin-left: -140px;
  }
}
@media(min-width: 1024px) and (max-width: 1200px)
{
  .menu{
    margin-left: -80px;
  }
}

@media(max-width: 350px)
{
  .textfield{
    width: 50px;
  }
  
}
@media(min-width: 300px) and (max-width: 330px)
{
 .form-container{
   margin-left: 50px;
 }
}
footer{
  background-color: #333;
}

.contact-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  color: white;
}
.info-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: right;
  
}
.copyright-container{
  display: grid;
  justify-content: space-around;
}
.main-container{
  
  padding: 100px;
}
.form-container
{
  display: flex;
  
  justify-content: center;

}
.registration-text{
  font-weight: 550;
  font-size: 40px;
  
}

.textfield{
  width: 350px;
  height: 10%;
}

.logo-main-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.center-text{
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
}

.logo-main{
  color: #000;
  height: 500px;
  
  font-size: 18px;
  background-image: url(/assets/Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  font-weight: bold;
  
}
select{
  width: 350px;
  height: 25px;
}
.submit-button
{
  margin-top: 15px;
  
}
.submit-style
{
  background-color: #333;
  border: none;
  border: 1px solid black;
  color: white;
}