body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  
}
.menu{
  margin-left: 650px;
}
.main-text{
  text-align: center;
  font-size: 30px;
}
.trip-seek-image{
  background-image: url(/template.jpg);
  margin: 0 auto;
  margin-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 500px;
  width: 100%;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  text-align: center;
}

.slider{
  background-image: url(/img1.jpg);
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  animation: slide 12s infinite;
  
}
.subscribe-container{
  text-align: center;
}
.subscribe-text{
  font-weight: 550;
  font-size: 24px;
}


@keyframes slide{
 33%{ background: url(/img2.jpg);
  width: 100%;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  }
 66%{ background: url(/img3.jpg);
  
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  }
 100%{ background: url(/img1.jpg);
  
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  }
}


@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

@media screen and (max-width: 500px){
  .slideshow-container{
    
    margin: 0 auto;
    
  }
  
  .slider{
    height: 250px;
    width: 100%;
  }
  @keyframes slide{
    33%{ background: url(/img2.jpg);
     width: 100%;
     
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     }
    66%{ background: url(/img3.jpg);
     
      width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     }
    100%{ background: url(/img1.jpg);
     
      width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     }
   }
   

}








header{
  display: flex;
  position: fixed;
  padding: 0 100px;
  background: #ffffff;
  margin-left: 0;
  width: 100%;
  box-shadow: 5px 5px black;
  box-sizing: border-box;
 
}
.logo-container{
  display: flex;
  padding: 0; 
  
}
.logo{
  color: #000;
  height: 50px;
  font-size: 18px;
  background-image: url(/assets/Logo.png);
  background-size: cover;
  width: 50px;
  font-weight: bold;
}
header .logo-txt{
  margin-left: 15px;
  font-style: italic;
  font-weight: 550;
  font-size: 14px;
  width: 250px;
  
}

header nav{
  float: right;
}
header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li{
  list-style: none;
  position: relative;
}
header nav ul li ul
{
  position: absolute;
  left: 0;
 
  background: #fff;
  border: 1px solid black;
  display: none;
}

header nav ul li.active ul
{
  display: block;
} 
header nav ul li ul li
{
  display: block;
  width: 200px;
 
}

header nav ul li a{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #000;
  text-decoration: none;
  display: block;
}
header nav ul li a:hover
{
  color: #000;
  background: #979797;
}
.toggle-container{
  display: none;
  width: 100%;
  justify-content: center;
  
}
.menu-toggle
{
  color: rgb(0, 0, 0);
  line-height: 50px;
  
  cursor: pointer;
  font-size: 24px;
}
main{
  height: 100%;
}
.main-content{
  text-align: center;
}
.service-container{
  display: inline-flex;
  
  width: 80%;
  height: 250px;
  
}
.service-1{
  
  background: url(/airplane.jpg);
  background-size: cover;
  width: 50%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.service-2{
  
  background: url(/hotel.jpg);
  background-size: cover;

  width: 50%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.seeker-container{
  display: flex;
  justify-content: center;
  
}
.seeker{
  background: url(/generic-family-holidays-85255-ws.jpg);
  background-size: cover;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media(max-width: 330px)
{
  .menu{
    margin-left: 0;
    
  }
  .menu-toggle{
    margin-right: 400px;
    
  }
  
}
@media(max-width: 780px)
{
  .menu{
    margin-left: 0;
    
  }
  header{
    padding: 0;
  }
}

@media (max-width: 740px)
{
  header{
    padding: 0;
     
   }
   .toggle-container{
     display: flex;
     
   }
   .menu{
     margin-left: 0;
   }
   header nav{
     position: absolute;
     width: 100%;
     height: 100vh;
     background: #333;
    
     top:50px;
     left: -100%;
     transition: 0.5s ease;
   }
   header nav.active{
     left: 0;
     position: absolute;
     width: 100%;
     height: 100vh;
     background: #333;
     
     top:50px;
     transition: 0.5s ease;
   }
 
   header nav ul{
     display: block;
     text-align: center;
   }
   header nav ul li a{
     border-bottom: 1px solid rgb(0,0,0);
   }
   header nav ul li.active ul{
     position: relative;
     background: rgb(196, 196, 196);
     transition: 0.5s ease;
   }
   header nav ul li ul li{
     width: 100%;
   }
   .seeker{
     height: 100px;
   }
  
}
@media(min-width: 1024px) and (max-width: 1200px)
{
  .menu{
    margin-left: 150px;
  }
}


footer{
  background-color: #333;
}

.contact-container{
  display: inline-flexbox;
  
  color: white;
}
.info-container{
  justify-content: right;
}
.copyright-container{
  
}
.copyright-text{
}
