body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
 
  margin-top: -0.5%;
  
  padding-bottom: 10px;
  
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');



#i1, #i2, #i3{ display: none;}

.container{
		margin: 0 auto;
		margin-top: 70px;
		position: relative;
		width: 70%;
		height: 0;
		padding-bottom: 38%;
	  user-select: none;
		background-color: #1c1c1c;
		border: solid 10px #616161;
    border-radius:10px ; 
	}

.hidden{
  transition: 1.0s ease;
  z-index: -1;
}
	.container .slide_img{
		position: absolute;
		width: 100%;;
    height: 100%;
	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
		width: 12%;
		height: inherit;
		position: absolute;
		top:0; 
		background-color: rgba(88, 88, 88,.2);
		color:rgba(244, 244, 244,.9);
		z-index: 1;
		transition: .45s;
		cursor: pointer;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff; 
	}

.container #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 10;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #one 

	{z-index: 1; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot1
	
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		

/* .yt{
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
	width: 150px;
	height:50px;
	border: outset #2c2c2c 4px;
	border-radius: 10px;
	text-align: center;
	font-size: 30pt;
	transition: .5s;
}

.yt a{
	text-decoration: none;
	color: #4c4c4c;
	transition: .5s;
}

.yt:hover{
	background: #4c4c4c;
	transition: .3s;
}

.yt:hover a{
	color: #fff;
	transition: .3s;
}
 */
@media screen and (max-width: 685px){
	.container{
		border: none;
		width: 100%;
		height: 0;
    padding-bottom: 55%; 
	}	
	
	label span { font-size: 50pt; }
	
	.prev, .next{
		width: 15%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

header{
  
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #ffffff;
  margin-left: 0;
  width: 100%;
  box-shadow: 5px 5px black;
  box-sizing: border-box;
 
}
header .logo{
  color: #000;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  background-image: url(/assets/Logo.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  float: left;
  font-weight: bold;
}
header nav{
  float: right;
}
header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li{
  list-style: none;
  position: relative;
}
header nav ul li ul
{
  position: absolute;
  left: 0;
 
  background: #fff;
  border: 1px solid black;
  display: none;
}

header nav ul li.active ul
{
  display: block;
} 
header nav ul li ul li
{
  display: block;
  width: 200px;
 
}

header nav ul li a{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #000;
  text-decoration: none;
  display: block;
}
header nav ul li a:hover
{
  color: #000;
  background: #979797;
}
.menu-toggle
{
  color: rgb(0, 0, 0);
  line-height: 50px;
  float: right;
  margin-right: 15px;
  cursor: pointer;
  font-size: 24px;
  display: none;
}

main img{
  width: 250px;
  height: 250px;
}
@media (max-width: 850px)
{
  header{
   padding: 0;
    
  }
  .menu-toggle{
    display: block;
  }
  header nav{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #333;
   
    top:50px;
    left: -100%;
    transition: 0.5s ease;
  }
  header nav.active{
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #333;
    
    top:50px;
    transition: 0.5s ease;
  }

  header nav ul{
    display: block;
    text-align: center;
  }
  header nav ul li a{
    border-bottom: 1px solid rgb(0,0,0);
  }
  header nav ul li.active ul{
    position: relative;
    background: rgb(196, 196, 196);
    transition: 0.5s ease;
  }
  header nav ul li ul li{
    width: 100%;
  }

}
